/* select */
.select-custom{
    width: 176px;
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
  
    background: #ffffff;
    border: 1px solid #666666;
    border-radius: 10px;
    height: 46px;
  
    padding: 10px 15px 10px 15px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
   
    cursor: pointer;
    z-index: 2;
  }
  
  .dropdown__text{
    pointer-events: none;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
  }
  
  .dropdawn-img{
    pointer-events: none;
  }
  
  .dropdown__button:focus,
  .dropdown__button--active {
    outline: 1px solid #CCB26E;
    border: 1px solid #CCB26E;
  }
  
  .dropdown__list {
    display: none;
  
    position: absolute;
    left: 0;
    top: 40px;
  
    margin: 0;
    padding: 7px 0 0 0;
    list-style-type: none;
  
    background: #ffffff;
    overflow: hidden;
  
    border-radius: 0 0 10px 10px;
    width: 100%;
  
    z-index: 1;
  }
  
  .dropdown__list--visible {
    display: block;
  }
  
  .dropdown__button--activeImg .dropdawn-img {
    transform: rotate(180deg);
  }
  .dropdown__button--activeImg .dropdawn-img path {
    stroke: #CCB26E;
  }
  
  .dropdown__list-item {
    margin: 0;
    padding: 0;
    padding: 13px 20px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
  }
  
  
  .dropdown__list-item:last-child {
    border-radius: 0 0 10px 10px;
   
  }
  
  .dropdown__list-item:hover {
    background: #CCB26E;
  }
  
  .dropdown__input-hidden {
    display: none;
  }
  